.datagrid table
{
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}
.datagrid
{
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	border: 1px solid #006699;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.datagrid table td, .datagrid table th
{
	padding: 3px 10px;
}
.datagrid table thead th
{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00A3F5), color-stop(1, #0091D9) );
	background: -moz-linear-gradient( center top, #00A3F5 5%, #0091D9 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A3F5', endColorstr='#0091D9');
	background-color: #00A3F5;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	border-left: 1px solid #0070A8;
}
.datagrid table thead th:first-child
{
	border: none;
}
.datagrid table tbody td
{
	color: #00557F;
	border-left: 1px solid #00557F;
	font-size: 12px;
	border-bottom: 1px solid #00557F;
	font-weight: normal;
	padding: 10px;
}
.datagrid table tbody .alt td
{
	background: #A5DBFA;
	color: #00557F;
}
.datagrid table tbody td:first-child
{
	border-left: none;
}
.datagrid table tbody tr:last-child td
{
	border-bottom: none;
}
.datagrid table tfoot td div
{
	border-top: 1px solid #006699;
	background: #E1EEf4;
}
.datagrid table tfoot td
{
	padding: 0;
	font-size: 11px;
}
.datagrid table tfoot td div
{
	padding: 2px;
}
.datagrid table tfoot td ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}
.datagrid table tfoot li
{
	display: inline;
}
.datagrid table tfoot li a
{
	text-decoration: none;
	display: inline-block;
	padding: 2px 8px;
	margin: 1px;
	color: #FFFFFF;
	border: 1px solid #006699;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00A3F5), color-stop(1, #0091D9) );
	background: -moz-linear-gradient( center top, #00A3F5 5%, #0091D9 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A3F5', endColorstr='#0091D9');
	background-color: #00A3F5;
}
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover
{
	text-decoration: none;
	border-color: #00557F;
	color: #FFFFFF;
	background: none;
	background-color: #C76F50;
}
div.dhtmlx_window_active, div.dhx_modal_cover_dv
{
	position: fixed !important;
}
.head-column
{
	padding: 10px;
	background: #91c3f4;
	font-size: 100%;
	color: #0B0000;
	font-weight: bold;
}
