﻿body 
{
	margin-top:1;
	margin-left:0;
	font-family:TAHOMA;
	font-size:11px;
	color:#3f3f3f;
	background-repeat:repeat-x;
}
a
{
	color:#0d6904;
}
a:hover
{
	color:#c60000;
}
.border_left_right
{
	border-left:solid 1px #bfbfbf;
	border-right:solid 1px #bfbfbf;
}
	
.border_bottom
{
	border-bottom:solid 1px #d5e9b4;
}
.whiteText
{
	font-family:TAHOMA;
	font-size:11px;
	font-weight:bold;
	color:white;
}
.topic1
{
	font-family:TAHOMA;
	font-size:12px;
	font-weight:bold;
	color:Green;
}
.Tlogin
{
	font-family:TAHOMA;
	font-size:11px;
	font-weight:bold;
	color:gray;
}
.Tloginborder
{
	font-family:TAHOMA;
	font-size:11px;
	font-weight:bold;
	color:gray;
	border: solid 1px #bac8a2;
	background-image:url(../images/fortextbox_03.jpg);
	background-repeat:no-repeat;
}
.Tloginborder2
{
	font-family:TAHOMA;
	font-size:11px;
	font-weight:bold;
	color:gray;
	border: solid 1px #bac8a2;
	background-image:url(../images/fortextbox.jpg);
	background-repeat:repeat-x;
}
.BorderCard
{
	border: dotted 1px gray;	
}
.textdd
{
	font-size:12px;
	color:#597924;
	background-image:url(../images/fortextbox_03.jpg);
	background-repeat:no-repeat;
}
.hilight
{
	font-size:12px;
	color:#c60000;
}
.line
{
	border-bottom:solid 1px gray;
	}
#bank td
{
	border-bottom:solid 1px #bac8a2;}
.des
{
	font-size:9px;
	color:Gray;
	}
	#bannercontact
	{
		margin-left:4px;
		}