﻿<%@ Page Language="VB" MasterPageFile="~/Admin/MasterPageAdmin.master" AutoEventWireup="false" CodeFile="Main.aspx.vb" Inherits="Admin_Main" title="Admin Side" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ctMasterCenter" Runat="Server">

</asp:Content>

