﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ShowCard.aspx.vb" Inherits="Admin_ShowCard" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Image ID="imgPreview" runat="server" Visible="false" CssClass="BorderCard" BorderColor="Silver" BorderStyle="Solid" BorderWidth="1px" />
    </div>
    </form>
</body>
</html>
