<%@ Page Language="VB" AutoEventWireup="false" CodeFile="frmDesignCard.aspx.vb" Inherits="WebUI_frmDesignCard" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
     <script language="javascript" src="../js/ValidationScript.js"></script>  
     <script language="javascript">
        function CallCheckEmail(){
        var GetValue = document.getElementById("Textbox1").value;
        
        alert(GetValue);
        checkEmail(GetValue);
        }
     </script>
     <title>Untitled Page</title>      
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" Text="Button"/></div>
    </form>
</body>
</html>
