<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ofm.aspx.vb" Inherits="WebUI_ofm" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table style="width: 952px">
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
        <table style="width: 936px">
            <tr>
                <td style="width: 843px">
                    <img src="../images/mock_03.jpg" /></td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <img src="../images/mock_05.jpg" /></td>
            </tr>
            <tr>
                <td colspan="3" style="height: 23px">
                    <img src="../images/mock_07.jpg" /></td>
            </tr>
        </table>
    
    </div>
    </form>
</body>
</html>
