﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ucConditionCard.ascx.vb" Inherits="uc_ucConditionCard" %>

<p style="font-weight:bold;">รายละเอียดและเงื่อนไขการสั่งทำงานพิมพ์</p>
<p>1. กรุณาตรวจสอบ รูปแบบโลโก้ รูปแบบตัวอักษร และความถูกต้องของตัวสะกดให้เรียบร้อยก่อนยืนยันการสั่งทำ ถ้าหากเกิดความผิดพลาดใด ๆ ขึ้นหลังจากยืนยันสั่งทำแล้ว ทางบริษัทฯ จะไม่ถือเป็นความผิดพลาดของบริษัท</p>
<p>2. สีของนามบัตรจริงอาจมีการคลาดเคลื่อน แต่ไม่เกิน 10% จากค่าสีมาตรฐานสากล (รวมถึงงานรีปริ้นท์ด้วย) เนื่องจากข้อจำกัดด้านงานพิมพ์ดิจิตอล และอาจมากกว่า 10% หากสีของหน้าจอมอนิเตอร์ของท่านมีการแสดงผลที่ไม่ถูกต้อง</p>
<p>3. ขนาดของนามบัตรจริงอาจมีการคลาดเคลื่อนได้แต่ไม่เกิน 3 มม. ในแต่ละด้านของงานพิมพ์</p>
<p>4. ความคมชัดและสี ของโลโก้และรูปภาพประกอบขึ้นอยู่กับไฟล์ต้นฉบับของลูกค้าเท่านั้น ทางบริษัทฯ ขอสงวนสิทธ์ในการแจ้งแก้ไขหรือตรวจสอบไฟล์งาน และขอสงวนสิทธ์ในการรับผิดชอบคุณภาพที่เกิดจากไฟล์งานของลูกค้า</p>
                             