<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ucHead1.ascx.vb" Inherits="uc_ucHead1" %>
<asp:Table ID="Table1" runat="server" Width="100px" CellPadding="0" CellSpacing="0">
    <asp:TableRow>
        <asp:TableCell Width="5px">
            <asp:Image Width="5px" ID="imgLeft" ImageUrl="~/images/tab_green1.gif" runat="server" />
        </asp:TableCell>
        <asp:TableCell ID="c1" BackColor="Red">        
            <asp:Label ID="txtName" runat="server" Text="Name" CssClass="whiteText"></asp:Label>
        </asp:TableCell>
        <asp:TableCell Width="5px">
            <asp:Image Width="5px" ID="imgRight" ImageUrl="~/images/tab_green2.gif" runat="server" />
        </asp:TableCell>
    </asp:TableRow>
</asp:Table>


