<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ucProductUpload.ascx.vb" Inherits="uc_ucProductUpload" %>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>Product</td>
    </tr>
    <tr>
        <td>
            <asp:Panel ID="Panel1" runat="server" ScrollBars="Vertical" Height="200" Width="100%">
            <asp:DataList ID="DataList1" runat="server" RepeatColumns="2">
                <ItemTemplate>
                    <asp:Image ID="Image1" runat="server" ImageUrl='<%# Bind("imageUrl") %>' />
                </ItemTemplate>
            </asp:DataList></asp:Panel></td>
    </tr>
    <tr>
        <td><asp:LinkButton ID="btnEdit" runat="server">Edit</asp:LinkButton></td>        
    </tr>
</table>
