﻿<%@ Control Language="VB" CodeFile="ucProduct.ascx.vb" Inherits="uc_ucProduct" %>
<p class="head-column">Card ID: <asp:Label ID="lbCardID" runat="server" Text="CardID"></asp:Label> / 
Card Name: <asp:Label ID="lbCardName" runat="server" Text="CardName"></asp:Label> </p>
<asp:Image ID="Image1" runat="server" ImageUrl="~/FileSender.aspx" style="padding-bottom:20px;" /><br />
<asp:HyperLink ID="btnEdit" runat="server" NavigateUrl="~/AddInformation.aspx" style="font-size:80%;">แก้ไขรายละเอียด</asp:HyperLink>
