﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" ClassName="noprint"  AutoEventWireup="false" CodeFile="ConfirmOrder.aspx.vb" Inherits="ConfirmOrder" Title="การสั่งพิมพ์เสร็จสิ้น Officemate Printing Solution" %>

<%@ Register Src="uc/ucBar.ascx" TagName="ucBar" TagPrefix="uc2" %>
<%@ Register Src="uc/ucConfirmOrder.ascx" TagName="ucConfirmOrder" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ctMasterCenter" Runat="Server">

<script language=javascript>
//    function print_report()
//    {
     document.body.style.marginLeft = "0px";

   // }
//     print_report();
</script>
<div style="margin:auto;">
    <img src="images/h-make-card01.png" class="png" alt="ทำนามบัตร" title="ทำนามบัตร" /><br />
    </div>
    <div style="padding: 30px; background-color:#fff; margin:auto; width: 920px;">
		<div class="setmargin">
			<div class="noprint">
    		<uc2:ucBar ID="UcBar1" runat="server" />
    	</div>
    	<uc1:ucConfirmOrder ID="UcConfirmOrder1" runat="server" />
	</div>  
</div>
</asp:Content>