<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ConfirmOrderUploadPreview.aspx.vb"
    Inherits="ConfirmOrderUploadPreview" Title="Print & Delivery Service Center<" %>

<%@ Register Src="uc/ucConfirmOrderUploadPreview.ascx" TagName="ucConfirmOrderUploadPreview"
    TagPrefix="uc4" %>
<%@ Register Src="uc/ucBar.ascx" TagName="ucBar" TagPrefix="uc2" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body style="text-align: center">
    <form id="form1" runat="server">
    <uc4:ucConfirmOrderUploadPreview ID="UcConfirmOrderUploadPreview1" runat="server" />
    </form>
</body>
</html>
