﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
	CodeFile="DetailAllPaper.aspx.vb" Inherits="DetailAllPaper" %>

<%@ Register Src="uc/ucBar.ascx" TagName="ucBar" TagPrefix="uc3" %>
<%@ Register Src="uc/ucDisplay.ascx" TagName="ucDisplay" TagPrefix="uc2" %>
<%@ Register Src="uc/ucFooter.ascx" TagName="ucFooter" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ctMasterCenter" runat="Server">
	<div style="margin: auto;">
		<img src="images/h-make-card01.png" class="png" alt="ทำนามบัตร" title="ทำนามบัตร" /><br />
	</div>
	<div style="padding: 30px; background-color: #fff; margin: auto; width: 920px;">
		<h1>
			Catetogy</h1>
		<div style="background-color: #fff; margin: auto; clear: both; padding-top: 20px;">
			<uc2:ucDisplay ID="ucDisplay1" runat="server" />
		</div>
	</div>
</asp:Content>
