﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" CodeFile="FAQ.aspx.vb" Inherits="FAQ" title="คำถามพบบ่อย Officemate Printing Solution" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ctMasterCenter" Runat="Server">
<div style="margin:auto;">
<img src="images/h-FAQ.png" class="png" alt="FAQ" title="FAQ" /><br />
</div>
  	
<div style="padding: 30px; margin:auto; width: 920px; background-color:#fff;">


	<p class="head-column">ถาม: การเตรียมไฟล์งาน และส่งไฟล์งานให้กับ Officemate Printing Solution</p>

	<h3>ตอบ</h3>
	<p>คุณสามารถนำไฟล์งานที่พร้อมพิมพ์มาได้ทันที ระบบการพิมพ์ของเราสามารถรองรับไฟล์งานได้หลากหลายประเภท อาทิ PDF,AI,EPS ซึ่งเป็น file ที่มีมาตรฐานสูงที่ทุกผู้ผลิตสิ่งพิมพ์ยอมรับ</p>
	<p>หากในกรณีที่คุณยังไม่มีไฟล์งานที่พร้อมพิมพ์ เช่น Illustrator, Photoshop, Indesign และ Microsoft officeต่างๆ เช่น Word, Powerpoint, Excel เราสามารถจัดการปัญหาที่ยุ่งยากให้คุณได้ ด้วยทีมงานผู้เชี่ยวชาญด้านการออกแบบ ติดต่อเราได้ที่ 02-739-5555 ฝ่ายบริการงานพิมพ์</p>

	<p class="head-column">ถาม: อยากทราบว่าคุณภาพของงานพิมพ์ที่ Officemate Printing Solution นั้นเป็นอย่างไร</p>
	<h3>ตอบ</h3>
	<p>คุณภาพของงานพิมพ์เทียบเท่ากับงานพิมพ์ออฟเซตของโรงพิมพ์ทั่วๆ </p>

	<p class="head-column">ถาม: งานที่ได้จาก Officemate Printing Solution เมื่อถูกน้ำแล้ว สีและตัวอักษรจะเลือนหายไปหรือไม่ </p>
	<h3>ตอบ</h3>
	<p>ไม่เลือนหายค่ะ เพราะงานพิมพ์เป็นระบบดิจิตอลออฟเซ็ทที่ให้คุณภาพงานสีและความคงทนเหมือนงานพิมพ์ ค่ะ</p>
    
    <p class="head-column">ถาม: งานที่ได้จาก Officemate Printing Solution เมื่อถูกน้ำแล้ว สีและตัวอักษรจะเลือนหายไปหรือไม่ </p>
	<h3>ตอบ</h3>
	<p>ไม่เลือนหายค่ะ เพราะงานพิมพ์เป็นระบบดิจิตอลออฟเซ็ทที่ให้คุณภาพงานสีและความคงทนเหมือนงานพิมพ์ ค่ะ</p>
    
    <p class="head-column">ถาม: ไม่ทราบว่า ถ้าต้องการพิมพ์งานจำนวน 10 ใบหรือ 100 ใบ สามารถพิมพ์ได้หรือไม่ และคิดราคาอย่างไร </p>
	<h3>ตอบ</h3>
	<p>Officemate Printing Solution เหมาะกับงานพิมพ์จำนวนไม่มาก ที่ต้องการใช้ในเวลาเร่งด่วน ค่ะ โดยเราสามารถรับงานพิมพ์ได้จำนวนตั้งแต่ 1 ใบขึ้นไป และราคานั้นจะขึ้นอยู่กับจำนวนพิมพ์ ซึ่งเมื่อเปรียบเทียบราคางานพิมพ์ในจำนวนน้อยๆ กับงานที่ต้องไปพิมพ์ออฟเซต โดยทั่วๆไปแล้ว ราคาจะอยู่ในระดับที่น่าพอใจ เพราะท่านไม่ต้องเสียค่าทำฟิลม์และค่าทำเพลทค่ะ</p>
    
    <p class="head-column">ถาม: อยากทราบว่า ที่ Officemate Printing Solution สามารถใช้กระดาษอะไรพิมพ์ได้บ้าง</p>
	<h3>ตอบ</h3>
	<p>กระดาษที่สามารถพิมพ์ได้ เช่น กระดาษอาร์ตด้าน กระดาษอาร์ตมัน กระดาษอาร์ตการ์ด ในขนาดตั้งแต่ 80 gsm. ถึง 300 gsm. รวมทั้งสามารถรองรับงานพิมพ์สูงสุดในขนาด A3 ได้ค่ะ</p>
    
    
    <p class="head-column">ถาม: ขนาดงานพิมพ์ใหญ่ที่สุดที่สามารถพิมพ์ได้มีขนาดเท่าไร</p>
	<h3>ตอบ</h3>
	<p>Officemate Printing Solution สามารถรองรับงานพิม์ขนาดงานใหญ่สุด ได้ที่ ขนาด 308 x 437 มม. หรือใหญ่กว่า A3 เล็กน้อย โดยที่ตัวงานรวมมาร์กและเนื้อที่เผื่อเจียนแล้วค่ะ</p>
    
    <p class="head-column">ถาม: ระยะเวลาในการพิมพ์งาน</p>
	<h3>ตอบ</h3>
	<p>สำหรับเอกสารขนาด จำนวน 200 – 300 แผ่น เราสามารถทำการผลิตและจัดส่งให้ท่านได้ภายในเวลาไม่เกิน 3 วันเท่านั้นค่ะ </p>
    <p>หากเป็นนามบัตรที่มีความสมบูรณ์ของ File งานที่พร้อมจัดพิมพ์ได้เลย จะสามารถรับงานได้ในวันทำการถัดไปได้  ในกรณีที่มีการแก้ไข File งาน หรือมีการจัดทำ Art Work งานใหม่  ท่านสามารถโทรสอบถามถึงระยะเวลาการผลิตได้ที่ 02-739-5555 ฝ่ายบริการงานพิมพ์หรือส่งคำถามของท่านมาได้ที่ email : contact@Officemate Printing Solution</p>
    
    <p class="head-column">ถาม: รูปแบบงานที่ทาง Officemate Printing Solution สามารถพิมพ์ได้มีอะไรบ้าง</p>
	<h3>ตอบ</h3>
	<p>ทางเราสามารถพิมพ์งานได้หลากหลายประเภท ไม่ว่าจะเป็นโบรชัวร์ แผ่นพับ เมนู ปฏิทิน โปสเตอร์ ใบปลิว สติ๊กเกอร์ นามบัตร บัตรเชิญ การ์ดตามเทศกาลต่างๆ  เป็นต้น</p>
	<p style="border-top: 1px solid #999; padding-top:20px;"><b>ลิงค์ที่เกี่ยวข้อง</b></p>
<p>
<ul>
<li><a href="HowtoOrder.aspx">วิธีการสั่งพิมพ์</a></li>
<li><a href="ContactUs.aspx">ติดต่อเรา</a></li>
</ul>
</p>
</div>
</asp:Content>

