﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" ClassName="noprint"  AutoEventWireup="false" CodeFile="InkjetConfirmOrderUploadNew.aspx.vb" Inherits="InkjetConfirmOrderUploadNew" Title="Officemate Printing Solution" %>

<%@ Register Src="uc/ucInkjetConfirmOrderUploadNew.ascx" TagName="ucConfirmOrderUploadNew"
    TagPrefix="uc3" %>

<%@ Register Src="uc/ucBar.ascx" TagName="ucBar" TagPrefix="uc2" %>
<%@ Register Src="uc/ucConfirmOrder.ascx" TagName="ucConfirmOrder" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ctMasterCenter" Runat="Server">
    <script language=javascript>
//    function print_report()
//    {
     document.body.style.marginLeft = "0px";

   // }
//     print_report();
    </script>
<div style="margin:auto;"><img src="images/h-make-card01.png" class="png" alt="" title="" /><br /></div>
<div style="padding: 30px; background-color:#fff; margin:auto; width: 920px;">
	<div class="setmargin">
		<div class="noprint"><uc2:ucBar ID="UcBar1" runat="server" /></div>
	<uc3:ucConfirmOrderUploadNew ID="UcConfirmOrderUploadNew1" runat="server" />
	</div>  
</div>
</asp:Content>
