﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" CodeFile="Pricelist.aspx.vb"
    Inherits="Pricelist" Title="ราคางานพิมพ์ trendyprint.net" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ctMasterCenter" runat="Server">
    <div style="margin: auto;">
        <img src="images/h-pricelist.png" class="png" alt="pricelist" title="pricelist" /><br />
    </div>
    <div style="padding: 30px; background-color: #fff; margin: auto; width: 800px;">
        <img src="images/Pricelis01.jpg" style="width: 800px"><br />
        <img src="images/Pricelis02.jpg" style="width: 800px"><br />
        <img src="images/Pricelis03.jpg" style="width: 800px"><br />
        <img src="images/Pricelis04.jpg" style="width: 800px"><br />
        <img src="images/Pricelis05.jpg" style="width: 800px"><br />
        <img src="images/Pricelis06.jpg" style="width: 800px"><br />
        <img src="images/Pricelis07.jpg" style="width: 800px"><br />
        <img src="images/Pricelis08.jpg" style="width: 800px"><br />
        <img src="images/Pricelis09.jpg" style="width: 800px"><br />
        <img src="images/Pricelis10.jpg" style="width: 800px"><br />
        <img src="images/Pricelis11.jpg" style="width: 800px"><br />
        <img src="images/Pricelis12.jpg" style="width: 800px"><br />
        
    </div>
</asp:Content>
