﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" CodeFile="Promotion.aspx.vb" Inherits="Promotion" title="โปรโมชันงานพิมพ์ trendyprint.net" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ctMasterCenter" Runat="Server">
	<div style="margin:auto;">
<img src="images/h-promotion.png" class="png" alt="promotion" title="promotion" /><br />
</div>
<div style="padding: 30px; margin:auto; width: 920px; ">
	<img src="images/banner-promotion.jpg">  	
</div>   	
<div style="padding: 30px; margin:auto; width: 920px; ">
<a href="http://www.officemate.co.th/Activity/news/LD-Jun17-PrintingSolution.html" target="_blank"><img src="https://printing.officemate.co.th/images/banner/Printing_250.jpg" style="border: 0px; float: left; padding-right: 20px;"
                            alt="Special Price for Special Set "
                            title="Special Price for Special Set "></a>
                 <p class="news-head">โปรโมชั่นสุดคุ้ม!! ตอนรับเถ้าแก่มือใหม่ </p>
                 <p class="news-detail">  


</p>
                  <p>
                        <a href="http://www.officemate.co.th/Activity/news/LD-Jun17-PrintingSolution.html" target="_blank">
                        อ่านต่อ..</a></p><p class="clear" />
                        &nbsp;</p> 
       <%--     <a href="http://www.trendyprint.net/promotion_print.html" target="_blank"><img src="images/news/sep-2010-02.jpg" style="border:0px; float:left; padding-right: 20px;" alt="พิมพ์นามบัตรด่วน  4 สี ราคาเพียง 1 บาท" title="พิมพ์นามบัตรด่วน  4 สี ราคาเพียง 1 บาท"></a>
            <p class="news-head"><a href="http://www.trendyprint.net/promotion_print.html" target="_blank">พิมพ์นามบัตรด่วน  4 สี ราคาเพียง 1 บาท<br />
            ส่งฟรีให้คุณถึงที่!</a></p>
            <p class="news-detail">trendyprint.net เปิดบริการพิมพ์นามบัตรด่วน 4 สี ราคาเพียง 1 บาท แถมส่งฟรีถึงที่บ้าน หรือ ที่ทำงานได้อีกด้วย บริการดีๆ แบบนี้ต้องรีบสั่งพิมพ์กันแล้วล่ะค่ะ</p>
            <p><a href="http://www.trendyprint.net/promotion_print.html" target="_blank">อ่านต่อ..</a></p>
            
            <p class="clear" />&nbsp;</p>
            <a href="http://www.trendyprint.net/promotion_print.html" target="_blank"><img src="images/news/sep-2010-01.jpg" style="border:0px; float:left; padding-right: 20px;" alt="ข้อดีของงานพิมพ์ Print on demand จาก trendyprint" title="ข้อดีของงานพิมพ์ Print on demand จาก trendyprint"></a>
            <p class="news-head"><a href="http://www.trendyprint.net/promotion_print.html" target="_blank">ข้อดีของงานพิมพ์ Print on demand จาก trendyprint</a></p>
            <p class="news-detail">หลายๆ คนคงอยากรู้ว่า ข้อดีของการสั่งงานพิมพ์ Print on demand กับ trendyprint มีอะไรบ้าง ทำไมถึงแตกต่างจากการสั่งงานพิมพ์กับที่อื่นๆ <strong>บริการส่งฟรีถึงที่ ในวันทำการถัดไป</strong> เป็น 1 ในข้อดีที่ใครๆ ก็ชื่นชอบ อยากอ่านข้อดีอื่นๆ คลิกอ่านต่อด้านล่างค่ะ</p>
            <p><a href="http://www.trendyprint.net/promotion_print.html" target="_blank">อ่านต่อ..</a></p>--%>  
</div>
</asp:Content>

