/* =Basic HTML
--------------------------------------------------------------------------------*/

body
{
	font: 12px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a
{
	color:#0d6904;
}
a:hover
{
	color:#c60000;
}

a:focus
{
	outline: 1px dotted invert;
}

hr
{
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
}

/* =Headings
--------------------------------------------------------------------------------*/

h1
{
	font-size: 120%;
}

h2
{
	font-size: 110%;
}

h3
{
	font-size: 100%;
}

h4
{
	font-size: 90%;
}

h5
{
	font-size: 80%;
}

h6
{
	font-size: 70%;
}

/* =Spacing
--------------------------------------------------------------------------------*/

ol
{
	list-style: decimal;
}

ul
{
	list-style: square;
}

li
{
	margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset
{
	margin-bottom: 20px;
}