﻿body 
{
	font: 90% Tahoma, Verdana, Arial, Helvetica, sans-serif; line-height:180%; margin:0; padding:0; text-align:center; color: #888;
	background-color:#cacaca;
	background-image:url(../images/bg-main.gif);
	background-repeat: no-repeat;
	background-position: top center;
}
.bodynew 
{
	margin-top:1;
	margin-left:0;
	font-family:TAHOMA;
	font-size:12px;
	color:Green;
	background-image:url(../images/bgbody.jpg);
	background-repeat:repeat-x;
}

img {
border-style:none;
border-width:0;
behavior: url(css/iepngfix.htc);
}
.png {
border-style:none;
border-width:0;
behavior: url(css/iepngfix.htc);
}
.border_left_right
{
	border-left:solid 1px #bfbfbf;
	border-right:solid 1px #bfbfbf;
}
	
.border_bottom
{
	border-bottom:solid 1px #d5e9b4;
}
.whiteText
{
	font-family:TAHOMA;
	font-size:11px;
	font-weight:bold;
	color:white;
}
.topic1
{
	font-family:TAHOMA;
	font-size:12px;
	font-weight:bold;
	color:Green;
}
.Tlogin
{
	font-family:TAHOMA;
	font-size:12px;
	font-weight:bold;
	color:#acacac;
}
.Tloginborder
{
	font-family:tahoma;
	font-size:12px;
	font-weight:bold;
	color:#bbb;
	border: solid 1px #ffffff;
	background-image:url(../images/bg-textbox.gif);
	background-repeat:no-repeat;
	padding:0px;
	margin:0px;
	height: 24px;
	width:180px;
	vertical-align:middle; 
	_padding-top:5px;
	_padding-left:5px; padding-left:5px; 
}
.Tloginborder2
{
	font-family:tahoma;
	font-size:12px;
	font-weight:bold;
	color:#bbb;
	border: solid 1px #ffffff;
	background-image:url(../images/bg-textbox.gif);
	background-repeat:no-repeat;
	padding:0px;
	margin:0px;
	height: 24px;
	width:90px;
	vertical-align:middle;
	_padding-top:5px;
	_padding-left:5px; padding-left:5px; 
}
.BorderCard
{
	border: dotted 1px gray;	
}
.textdd
{
	font-size:12px;
	color:#597924;
	background-image:url(../images/fortextbox_03.jpg);
	background-repeat:no-repeat;
}
.hilight
{
	font-size:12px;
	color:#c60000;
}
.line
{
	border-bottom:solid 1px gray;
	}
#bank td
{
	border-bottom:solid 1px #bac8a2;}
.des	{ font-size:11px; color:#333;}
.des2	{ font-size:10px; color:#666; font-weight:normal;}
	#bannercontact
	{
		margin-left:4px;
		}
		


p             	{ margin:0 0 1em; }
strong        	{ font-weight:bold; }
ul,ol, li       { list-style:none; }

.alert		{background-color:#c6a; height:30px; text-align:center; font-size:16px; color:#fff; clear:both; vertical-align:middle; position: absolute; left:0; top:0; width:980px; padding:5px; }
#container		{ margin:0 auto; position:relative; text-align:left; margin-bottom:2em; width:980px; }
#logo			{ float:left; padding: 20px; margin-top: 20px;}
#login			{ float:right; padding-top:40px; margin-top: 20px; text-align:right; }
#menu-top 		{ height:50px; color:#999; font-size:13px; clear:both; padding-top:5px;  }
#hilight 		{  }
#guide			{  }
#news 			{ height:350px; color:#888; font-size:13px; clear:both; padding-top:5px; line-height: 1.5em;}
.news-head		{ font-size: 18px; color: #0d5385; vertical-align:top; }
.news-head a	{ color: #0d5385; text-decoration:none; }
.news-head a:hover { color: #c20000; text-decoration:underline; }
.news-detail	{ font-size: 12px; color: #666; }
.head-column	{ padding:10px; background: #91c3f4; font-size: 100%; color: #fff; font-weight:bold; }
.head-menu	{ font-size: 120%; color: #f90; font-weight:bold; border-bottom: 1px solid #ddd; paddin-bottom:10px;  }
#foot			{ height:100px; color:#888; font-size:11px; clear:both; text-align: left; padding:30px; line-height: 14px; }
#menu-foot 		{ height:60px; color:#888; font-size:13px; clear:both; text-align: left; margin-top: 20px; }
#menu-foot li 	{ margin: 0; list-style: none;  }
#menu-foot a 	{ text-decoration: none; line-height: normal; color:#888; }
#menu-foot a:hover { color: #c20000;  text-decoration:underline;}
#menu-foot .foot-column	{ float:left; border-right: solid 1px #c0c0c0; padding: 0px 30px; text-align: left; line-height: normal; font-size: 11px; }
.btn-face		{ background-color:#0054a6; padding: 4px 10px; font: Tahoma; font-size: 13px; color: #ffffff; font-weight: bold; cursor: pointer; border: 0px; vertical-align:middle; text-decoration:none; border: 1px solid #003286; font-weight: bold; }
.btn-face2		{ background-color:#fff; padding: 4px 10px; font: Tahoma; font-size: 13px; color: #333; font-weight: bold; cursor: pointer; border: 0px; vertical-align:middle; text-decoration:none; border: 1px solid #999; }
#btn-card		{ padding: 20px 0px 20px 0px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; text-decoration:none; margin: 10px 0px; }
a:hover.btn-face { color: #fff;  text-decoration:none; !important}
a:hover.btn-face2 { color: #333;  text-decoration:none; !important}

.box-general	{ border: 1px solid #ddd; padding: 10px; margin-bottom: 20px; }
.box-300	{ float:left; width:300px; text-align:left; vertical-align:middle; }
.port-photo	{ width: 170px; height:120px; align:left; vertical-align:top; float:left; }


.hidden       	{ display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         	{ white-space:nowrap !important; }
.wrap         	{ white-space:normal !important; }
.a-left       	{ text-align:left !important; }
.a-center     	{ text-align:center !important; }
.a-right      	{ text-align:right !important; }
.v-top        	{ vertical-align:top; }
.v-middle     	{ vertical-align:middle; }
.f-left, .left  { float:left !important; }
.f-right, .right{ float:right !important; }
.f-none       	{ float:none !important; }
.f-fix        	{ float:left; width:100%; }
.no-display   	{ display:none; }
.no-margin    	{ margin:0 !important; }
.no-padding   	{ padding:0 !important; }
.no-bg        	{ background:none !important; }

.graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
#slider {float:right;  }
	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		
		width:980px;
		height:300px;
		overflow:hidden; 
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:30px;
		height:164px;
		position:absolute;
		left:0px;
		top:200px;
		z-index:1000;
		
		}	
	#nextBtn, #slider1next{ 
		left:950px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:30px;
		height:164px;
		background:url(../images/btn/prev.png) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(../images/btn/next.png) no-repeat 0 0;	
		}	
			
 
	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}



/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

	display: block;
}